In [1]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('ecommerce_data.csv')
df.head(10)

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2
5,1,1,0.512447,1,1,2
6,0,0,1.440327,1,1,0
7,1,0,0.035260,0,3,0
8,0,1,1.490764,0,0,1
9,0,0,0.005838,1,3,0

In [23]:
def get_data():
    df = pd.read_csv('ecommerce_data.csv')
    data = df.to_numpy()
    
    X = data[:,:-1]
    Y = data[:,-1]
    
    # normalize the data
    X[:,1] = (X[:,1] - X[:,1].mean()) / X[:,1].std() 
    X[:,2] = (X[:,2] - X[:,2].mean()) / X[:,2].std() 
    
    N,D = X.shape
    X2 = np.zeros((N,D+3)) # 4 different categorical values so D+3
    
    X2[:,0:(D-1)] = X[:,0:(D-1)]
    
    for n in range(N):
        t = int(X[n,D-1])
        X2[n,t+D-1] = 1
        
    Z = np.zeros((N,4))
    Z[np.arange(N), X[:,D-1].astype(np.int32)] = 1
    
    assert(np.abs(X2[:,-4:] - Z).sum() < 10e-10)
    
    return X2, Y

In [28]:
def get_binary_data():
    X,Y = get_data()
    X2 = X[Y<=1]
    Y2 = Y[Y<=1]
    
    return X2,Y2